.counter {
    margin: 5rem auto;
    box-shadow: 15px 15px 10px #191919,
        -15px -15px 10px #313131;
    width: 40rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
}

.counter h1 {
    text-transform: uppercase;
    color: #575757;
    margin: 0;
    font-size: 1rem;
}

.value {
    font-size: 2rem;
    color: #3c0080;
    margin: 2rem 0;
    font-weight: bold;
}