* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #252525;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #fff;
  color: #252525;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  box-shadow: 6px 6px 12px #d6d6d6,
    -6px -6px 12px #ffffff;
}

button:hover {
  background-color: #ecebeb;
  border-color: #ecebeb;
}